.whatsapp-icon-wrapper {
  display: block;
  position: fixed;
  bottom: 10px;
  right: 10px;
  height: 65px;
  width: 65px;
  border-radius: 50%;
  background-color: #f8f9f7;
  display: grid;
  place-items: center;
  transition: all 0.3s ease-in-out;
  padding: 4px;
  &:hover {
    transform: translateY(-10px);
  }

  @media (max-width: 600px){
    height: 57px;
    width: 57px;
  }
  .whatsapp-icon {
    color: #44c354;
    font-size: 60px;
    cursor: pointer;

    @media (max-width: 600px){
      height: 55px;
      width: 55px;
    }
  }
}
