@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap");

:root {
  --primary-color: #b6c4a3;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: 0;
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
}
